    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Plotypus</h2>
                <p>
                    Plotypus is a team devoted to innovation for authors of all varieties. We want to build tools to
                    make the writing process more cohesive and easier, facilitating the entire creative process from the
                    first fledgling concepts in your mind to the final publication of your brave new world.
                </p>
                <p>
                    We formed as a capstone project group in the final year of our undergraduate degrees in computer
                    science at the <a href="http://www.cs.utah.edu">University of Utah</a>.
                </p>
                <p>
                    Our first project together is <a href="inkweaver">InkWeaver</a>, an intelligent writing environment designed
                    to help connect your story to all the notes about your characters, locations, events, and more,
                    while simultaneously showing you statistics of your writing along the way. If you have any interest
                    in writing, you should check it out!
                </p>
            </div>
        </div>
    </section>